# 忽略 Obsidian 的工作区配置文件（动态变化）
.obsidian/workspace*
# 忽略 Obsidian 的回收站文件夹
.obsidian/.trash/
# 忽略所有日志文件
*.log
# 忽略临时文件或系统生成的文件
DS_Store
.DS_Store
Thumbs.db
02.Area/记录/博客/hugo-pages/public/
.obsidian/plugins/novel-word-count/data.json
